<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


  {% extends 'donations/payment.html' %}

{% block title %}Make Payment{% endblock %}

{% block content %}
    <h4>Pay with PayPal</h4>
    {{ form.render }}
{% endblock %}
   <!-- {% if messages %}
     <ul class="messages">
     {% for message in messages %}
     {% end for %}
   </ul>
   {% endif %}
   {{form.render}}
   -->
</body>
</html>